<!-- EditEntreprise.razor -->
@page "/edit-entreprise/{Id:int}"
@using Conferences_projet.Models
@using Conferences_projet.service
@inject NavigationManager Navigation
@inject IEntrepriseService EntrepriseService

<h3>Edit Entreprise</h3>

@if (entreprise != null)
{
    <EditForm Model="@entreprise" OnValidSubmit="UpdateEntreprises">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="name">Name:</label>
            <InputText @bind-Value="@entreprise.Nom" class="form-control" id="name" />
            <ValidationMessage For="@(() => entreprise.Nom)" />
        </div>
        <div class="form-group">
            <label for="address">Address:</label>
            <InputText @bind-Value="@entreprise.Adresse" class="form-control" id="address" />
            <ValidationMessage For="@(() => entreprise.Adresse)" />
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </EditForm>
}
else
{
    <p>Entreprise not found!</p>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private Entreprise entreprise;

    protected override async Task OnInitializedAsync()
    {
        entreprise = await EntrepriseService.GetEntrepriseByIdAsync(Id);
    }

    private async Task UpdateEntreprises()
    {
        if (entreprise != null)
        {
            await EntrepriseService.UpdateEntrepriseAsync(entreprise);
            Navigation.NavigateTo("/show-entreprises");
        }
    }
}

